.top-spacing {
    padding-top: 15px;
}

.bottom-spacing {
    padding-bottom: 15px;
}

.lot-title {
    font-size: x-large;
    font-weight: bolder;
}

label {
    color: #333333;
    font-size: 1em;
}
