body {
    font-family: Arial, Helvetica, sans-serif;
}
strong,
b {
    font-weight: bold;
}

p.title {
    color: #509587;
    text-align: center;
    vertical-align: middle;
    font-size: x-large;
}

b.bolded {
    font-weight: bolder;
    color: #222222;
}

p.stylish {
    color: #509587;
}

p.minus {
    font-size: 0.9em;
}

b.stylish-minus {
    font-size: 0.9em;
    color: #509587;
}

b.bluest-minus {
    font-size: 0.9em;
    color: navy;
}

p.warning {
    color: #509587;
    text-align: center;
}

mark.stylish {
    color: #509587;
    background-color: white;
}

.card .card-content {
    background-color: #e6e6e6;
    padding: 10px;
}

.card .card-action {
    padding-top: 6px;
    padding-bottom: 6px;
}

.col .s3 .to-right {
    right: 0;
}

th {
    background-color: #072e62;
    border-bottom: 1px solid lightgray;
    color: white;
    font-weight: bold;
}

td {
    border-bottom: 2px solid lightgray;
    color: #333333;
}

td.textcenter {
    text-align: center;
}

td.price-stylish {
    background-color: #509587;
    border-bottom: 0px solid #ffffff;
    color: #ffffff;
}

th.title-stylish {
    color: #509587;
    text-align: center;
    vertical-align: middle;
    font-size: x-large;
}

.no-padding {
    padding: 0;
    margin: 0;
}

#filoutage-table {
    padding-right: 100px;
}

.col-print-1 {
    width: 8%;
    float: left;
}
.col-print-2 {
    width: 16%;
    float: left;
}
.col-print-3 {
    width: 25%;
    float: left;
}
.col-print-4 {
    width: 33%;
    float: left;
}
.col-print-5 {
    width: 42%;
    float: left;
}
.col-print-6 {
    width: 50%;
    float: left;
}
.col-print-7 {
    width: 58%;
    float: left;
}
.col-print-8 {
    width: 66%;
    float: left;
}
.col-print-9 {
    width: 75%;
    float: left;
}
.col-print-10 {
    width: 83%;
    float: left;
}
.col-print-11 {
    width: 92%;
    float: left;
}
.col-print-12 {
    width: 100%;
    text-align: center;
}

#main {
    padding-left: 0px !important;
}

.lightblue-bg .row {
    padding: 15px;
}
.lightblue-bg {
    background-color: #75c4c6;
}

.txt-gray {
    color: #656566;
}
.big-title {
    color: #072e62;
    font-weight: bold;
    font-size: 40px;
}
.sub-title {
    color: #75c4c6;
    font-weight: bold;
    font-size: 25px;
}
#main {
    padding-left: 0px !important;
}
.white-txt {
    color: white;
}
.bg-lightgray .client-infos {
    margin-bottom: 20px;
    display: inline-table;
}
.bg-lightgray {
    background-color: #f5f5f6;
    padding: 30px;
}
.txt-bold {
    font-weight: bold;
}
.blue-border {
    -webkit-box-shadow: inset 0px 0px 0px 1px #072e62;
    -moz-box-shadow: inset 0px 0px 0px 1px #072e62;
    box-shadow: inset 0px 0px 0px 1px #072e62;
}

.container {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
.capalogo-container {
    background-image: url("images/pdf/capalogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    height: 180px;
}

.signature {
    margin-top: 20px;
}
.capalogo-container img {
    border: 1px solid red;
    max-width: 2pt;
    max-width: 2px;
}

.presta-duration div {
    padding: 10px;
    display: inline-block;
}

.rounded-border {
    border: 1px solid lightblue;
    border-radius: 50%;
    padding: 20px;
}
.pull-right {
    text-align: right;
}
.center {
    text-align: center;
}
.total-values {
    text-align: right;
}
.total-data {
    padding: 7px 0;
}
.side-section-legals .legals-content {
    padding: 13px;
}
