/* Classe que j'utilise pour créer un espacement entre les tables de data dans les card-views et le groupe de boutons de modification */
.block-buttons-spacing {
    padding-top: 22px;
}

/* Class css pour définir une taille large et une police gras pour les titres des card-views. */
.label-lot-title {
    font-size: 15px;
    font-weight: bolder;
    color: #01579b;
}

.left-scpacing-32px {
    padding-left: 32px;
}

.top-margin-16px {
    margin-top: 16px;
}
