/* Text size */
* {
    font-size: 1.1rem;
    font-family: sans-serif;
}

/* Gère le padding de la petite carte lorsque l'on clique sur l'icône utilisateur */
.dropdown-content li > a,
.dropdown-content li > span {
    padding: 14px 12px;
}

/* html tag css */
h2 {
    color: #2196f3;
    font-weight: bold;
}

h3 {
    color: #424242;
}

label {
    color: #333333;
    font-size: 1.2em;
}

body {
    color: #666666;
}

a {
    color: #078aca;
}

div .scroll-box {
    overflow-x: scroll;
    padding: 1.15rem;
}

/* new css class */
.body-marger {
    margin: 12px;
}

.typeLabel {
    margin-top: 4px;
    margin-bottom: 4px;
}

.centrage {
    text-align: center;
}

/* overrided materialize css class */

.btn-floating {
    line-height: 40px;
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    width: 36px;
    height: 36px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    vertical-align: middle;
    color: #fff;
    border-radius: 50%;
}

.btn-floating i {
    font-size: 1rem;
    line-height: 36px;
    display: inline-block;
    width: inherit;
    color: #fff;
}

.card-content {
    background-color: #333333;
}

.card-content label {
    color: white;
}

.page-topbar {
    background-color: #333333;
}

.navbar .navbar-dark {
    margin-top: -1px;
    background-color: #333333;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    text-transform: none;
}

input.select-dropdown.dropdown-trigger {
    display: none;
}

.navbar .navbar-light .header-search-wrapper input.header-search-input:focus::placeholder {
    color: transparent;
}

svg.caret {
    display: none;
}

td.header {
    font-weight: bold;
    width: 30%;
}

.footer {
    margin-top: 20px;
}

.navbar input.header-search-input {
    width: 40%;
}

span.span-combobox {
    font-weight: lighter;
}

button.btn-floating {
    border: none;
    margin-top: 0px;
}

/* id css */

#main {
    padding-left: 250px;
    margin-top: -19px;
}

#body-login {
    background-image: url("../images/BG_capa_2.png");
    background-size: cover;
}

#breadcrumbs-wrapper {
    margin-top: -1px;
}
