/* html tag css */
h2 {
    color: #2196f3;
    font-weight: bold;
}

h3 {
    color: #424242;
}

label {
    color: #333333;
    font-size: 1em;
}

body {
    color: #666666;
}

a {
    color: #078aca;
}

.blue-card {
    background-color: #006699;
    color: white;
}

/* overrided materialize css class */
.centrage {
    text-align: center;
}

.card-content {
    background-color: #333333;
}

.card-content label {
    color: white;
}

.page-topbar {
    background-color: #333333;
}

.navbar .navbar-dark {
    margin-top: -1px;
    background-color: #333333;
}

.card {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    text-transform: none;
}

input.select-dropdown.dropdown-trigger {
    display: none;
}

.navbar .navbar-light .header-search-wrapper input.header-search-input:focus::placeholder {
    color: transparent;
}

svg.caret {
    display: none;
}

td.header {
    font-weight: bold;
    width: 30%;
}

.footer {
    margin-top: 20px;
}

.navbar input.header-search-input {
    width: 40%;
}

span.span-combobox {
    font-weight: lighter;
}

/* id css */

#main {
    padding-left: 250px;
    margin-top: -19px;
}

#body-login {
    background-image: url("../images/capa-login-bg.png");
    background-size: cover;
}

#breadcrumbs-wrapper {
    margin-top: -1px;
}
