/* cutom button class */

.btn-save {
    background-color: #078aca;
    color: white;
}

.btn-save:hover {
    background-color: #07ca48;
    color: #333333;
}

.btn-update {
    background-color: #ff9800;
    color: white;
}

.btn-update:hover {
    background-color: #07ca48;
    color: #333333;
}

.btn-back {
    background-color: #333333;
    color: white;
}

.btn-back:hover {
    background-color: #777777;
    color: #333333;
}

.btn-delete {
    background-color: #f44336;
    color: white;
}

.btn-delete:hover {
    background-color: #ff6666;
    color: #333333;
}
