/* --------------------------------------------------------- */
/* CREATION DE BUTTON (gestions couleurs et font plus préciséments */
/* --------------------------------------------------------- */

/* Boutons que l'on utilise dans la vue de la simulation de projet */
.btn-project-simulation {
    background-color: #f0edee;
    color: #01579b;
    margin-left: 3px;
    margin-right: 3px;
}

.btn-project-simulation:hover {
    background-color: #01579b;
    color: #f0edee;
    background-position: right center;
}

.btn-project-simulation:hover i {
    color: #f0edee;
}
/* ------------------------------------------------------------------ */

/* GREEN BUTTON */
.btn-green {
    background-color: #248f24;
    color: #f0edee;
}

.btn-green:hover {
    background-color: #f0edee;
    color: #248f24;
    background-position: right center;
}

.btn-green:hover i {
    color: #248f24;
}
/* ------------------------------------------------------------------ */

/* GREEN DARK BUTTON */
.btn-green-darker {
    background-color: #008000;
    color: #f0edee;
}

.btn-green-darker:hover {
    background-color: #f0edee;
    color: #008000;
    background-position: right center;
}

.btn-green-darker:hover i {
    color: #008000;
}
/* ------------------------------------------------------------------ */

/* BLUE BUTTON */
.btn-blue {
    background-color: #01579b;
    color: #f0edee;
}

.btn-blue:hover {
    background-color: #f0edee;
    color: #01579b;
    background-position: right center;
}

.btn-blue:hover i {
    color: #01579b;
}
/* ------------------------------------------------------------------ */

.btn-yellow {
    background-color: #ffaa00;
    color: #f0edee;
}

.btn-yellow:hover {
    background-color: #f0edee;
    color: #ffaa00;
    background-position: right center;
}

.btn-yellow:hover i {
    color: #ffaa00;
}

.btn-grey {
    background-color: #333333;
    color: #f0edee;
}

.btn-grey:hover {
    background-color: #f0edee;
    color: #333333;
    background-position: right center;
}

.btn-grey:hover i {
    color: #333333;
}

.btn-white {
    background-color: #b3b3b3;
    color: #333333;
}

.btn-white:hover {
    background-color: #f0edee;
    color: #333333;
    background-position: right center;
}

.btn-white:hover i {
    color: #333333;
}

.btn-red {
    background-color: #ff3333;
    color: #f0edee;
}

.btn-red:hover {
    background-color: #f0edee;
    color: #ff3333;
    background-position: right center;
}

.btn-red:hover i {
    color: #ff3333;
}

.btn-orange {
    background-color: #ff8533;
    color: #f0edee;
}

.btn-orange:hover {
    background-color: #f0edee;
    color: #ff8533;
    background-position: right center;
}

.btn-orange:hover i {
    color: #ff8533;
}

.btn-purple {
    background-color: #7300e6;
    color: #f0edee;
}

.btn-purple:hover {
    background-color: #f0edee;
    color: #7300e6;
    background-position: right center;
}

.btn-purple:hover i {
    color: #7300e6;
}

.btn-black {
    background-color: #1a1a1a;
    color: #f0edee;
}

.btn-black:hover {
    background-color: #f0edee;
    color: #1a1a1a;
    background-position: right center;
}

.btn-black:hover i {
    color: #1a1a1a;
}
.btn-special-golden {
    background-image: linear-gradient(0.25turn, #ff7733, #ff9933, #ff6600);
}
.btn-special-golden:hover {
    background-image: linear-gradient(0.25turn, #ffdb4d, #ffb366, #ff8533);
    color: #333333;
    background-position: right center;
}

.btn-capa {
    background-image: linear-gradient(0.25turn, #009933, #16a085, #002699);
}
.btn-capa:hover {
    background-image: linear-gradient(0.25turn, #00ff55, #1fe0ba, #0039e6);
    color: #333333;
    background-position: right center;
}

.btn-blue-gradient {
    background-image: linear-gradient(0.25turn, #078aca, #22b0f7, #07eede);
}

.btn-blue-gradient:hover {
    background-image: linear-gradient(0.25turn, #09a7f6, #53c1f9, #20f8ea);
    color: #333333;
    background-position: right center;
}

.btn-grey-gradient {
    background-image: linear-gradient(0.25turn, #262626, #404040, #595959);
}

.btn-grey-gradient:hover {
    background-image: linear-gradient(0.25turn, #404040, #595959, #737373);
    color: white;
    background-position: right center;
}
