/* html tag css */
h2 {
    color: #2196f3;
    font-weight: bold;
}

h3 {
    color: #424242;
}

label {
    color: #333333;
    font-size: 1em;
}

body {
    color: #666666;
}

a {
    color: #078aca;
}

/* overrided materialize css class */

.card {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

input.select-dropdown.dropdown-trigger {
    display: none;
}

svg.caret {
    display: none;
}

td.header {
    font-weight: bold;
    width: 30%;
}

.footer {
    margin-top: 20px;
}

/* new id css class */

#main {
    padding-left: 250px;
    margin-top: -18px;
}

#body-login {
    background-image: url("../images/capa-login-bg.png");
    background-size: cover;
}
