/* cutom button class */

.btn-green {
    background-color: #07ca48;
    color: white;
}

.btn-green:hover {
    background-color: #22f769;
    color: #333333;
}

.btn-green-darker {
    background-color: #008000;
    color: white;
}

.btn-green-darker:hover {
    background-color: #00cc00;
    color: #333333;
}

.btn-blue {
    background-color: #078aca;
}

.btn-blue {
    background-color: #22b0f7;
    color: #333333;
}

.btn-yellow {
    background-color: #ffcc00;
    color: white;
}

.btn-yellow:hover {
    background-color: #ffdb4d;
    color: #333333;
}

.btn-grey {
    background-color: #333333;
    color: white;
}

.btn-grey:hover {
    background-color: #777777;
    color: #333333;
}

.btn-red {
    background-color: #ff3333;
    color: white;
}

.btn-red:hover {
    background-color: #ff8080;
    color: #333333;
}

.btn-orange {
    background-color: #ff8533;
}

.btn-orange:hover {
    background-color: #ffb380;
    color: #333333;
}

.btn-purple {
    background-color: #7300e6;
}

.btn-purple:hover {
    background-color: #9933ff;
    color: #333333;
}
