h2 {
    color: #2196f3;
    font-weight: bold;
}

h3 {
    color: #424242;
}

td.header {
    font-weight: bold;
    width: 30%;
}

.card {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

#main {
    padding-left: 250px;
    margin-top: -18px;
}

#body-login {
    background-image: url("../images/capa-login-bg.png");
    background-size: cover;
}

input.select-dropdown.dropdown-trigger {
    display: none;
}
svg.caret {
    display: none;
}
