/* cutom button class */

.btn-green {
    background-color: #248f24;
    color: white;
}

.btn-green:hover {
    background-color: #2eb82e;
    color: #333333;
    background-position: right center;
}

.btn-green-darker {
    background-color: #008000;
    color: white;
}

.btn-green-darker:hover {
    background-color: #00cc00;
    color: #333333;
    background-position: right center;
}

.btn-blue {
    background-color: #078aca;
}

.btn-blue:hover {
    background-color: #22b0f7;
    color: #333333;
    background-position: right center;
}

.btn-yellow {
    background-color: #ffcc00;
    color: white;
}

.btn-yellow:hover {
    background-color: #ffdb4d;
    color: #333333;
    background-position: right center;
}

.btn-grey {
    background-color: #333333;
    color: white;
}

.btn-grey:hover {
    background-color: #777777;
    color: #333333;
    background-position: right center;
}

.btn-red {
    background-color: #ff3333;
    color: white;
}

.btn-red:hover {
    background-color: #ff8080;
    color: #333333;
    background-position: right center;
}

.btn-orange {
    background-color: #ff8533;
}

.btn-orange:hover {
    background-color: #ffb380;
    color: #333333;
    background-position: right center;
}

.btn-purple {
    background-color: #7300e6;
}

.btn-purple:hover {
    background-color: #9933ff;
    color: #333333;
    background-position: right center;
}

.btn-black {
    background-color: #1a1a1a;
}

.btn-black:hover {
    background-color: #404040;
    color: #333333;
    background-position: right center;
}

.btn-capa {
    background-image: linear-gradient(0.25turn, #5cd65c, #16a085, #002699);
}
.btn-capa:hover {
    background-image: linear-gradient(0.25turn, #5cd65c, #16a085, #002699);
    color: #333333;
    background-position: right center;
}

.btn-blue-gradient {
    background-image: linear-gradient(0.25turn, #078aca, #22b0f7, #07eede);
}

.btn-blue-gradient:hover {
    background-image: linear-gradient(0.25turn, #09a7f6, #53c1f9, #20f8ea);
    color: #333333;
    background-position: right center;
}

.btn-grey-gradient {
    background-image: linear-gradient(0.25turn, #262626, #404040, #595959);
}

.btn-grey-gradient:hover {
    background-image: linear-gradient(0.25turn, #404040, #595959, #737373);
    color: white;
    background-position: right center;
}
