.rightspace-10px {
    margin-right: 10px;
}

.rightspace-15px {
    margin-right: 10px;
}

.rigthspace-20px {
    margin-right: 20px;
}

.leftspace-10px {
    margin-left: 10px;
}

.leftspace-15px {
    margin-left: 10px;
}

.leftspace-20px {
    margin-left: 20px;
}

.bottomspace-15px-invert {
    margin-bottom: -15px;
}

.topspace-15px-invert {
    margin-top: -15px;
}

.bottomspace-16px {
    margin-bottom: 16px;
}

.topspace-4px {
    margin-top: 4px;
}
