header, main, footer {
    padding-left: 300px;
    
}

.container {
    width:90%;
    max-width: 95%;
}

.welcomeBg{
    height: 100vh;
    background: url("../images/capa-login-bg.jpeg");
    background-position: 100% 100% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

@media only screen and (min-width: 993px) {
 body.has-fixed-sidenav {
  padding-left:300px
 }
 
 
 .has-fixed-sidenav .navbar-fixed nav.navbar {
  width:calc(100% - 300px);
  left:300px;
 }
 body:not(.has-fixed-sidenav) nav a.sidenav-trigger {
  display:block
 }
 body:not(.has-fixed-sidenav) nav.navbar .brand-logo {
  position:absolute;
  left:50%;
  transform:translateX(-50%)
 }
}

@media only screen and (max-width : 992px) {
  header, main, footer {
	padding-left: 0;
  }
  nav.navbar a.brand-logo {
  position:absolute
 }
}

nav.navbar {
    z-index: 10;
    transition: box-shadow .3s, background-color .3s;
    padding: 0 20px;
    background-color: #fff;
    color: rgba(0,0,0,0.87);
}

nav.navbar .brand-logo {
    position: relative;
    float: left;
    font-size: 18px;
}

nav.navbar ul a {
    color: #fff;
    position: relative;
    transition: color .2s;
}

.navbar .header-search-wrapper {
 position:relative;
 display:inline-block;
 width:calc(100% - 360px);
 height:40px;
 margin:10px auto 0 75px;
 -webkit-transition:.3s ease all;
 transition:.3s ease all;
 -webkit-backface-visibility:hidden;
 backface-visibility:hidden
}
.navbar .header-search-wrapper i {
 font-size:24px;
 line-height:32px!important;
 position:absolute;
 top:6px;
 left:24px;
 -webkit-transition:color .2s ease;
 transition:color .2s ease
}
.navbar .sideNav-lock .header-search-wrapper {
 width:calc(100% - 560px);
 margin:10px auto 0 270px
}
.navbar input.header-search-input {
 font-size:16px;
 font-weight:400;
 display:block;
 box-sizing:border-box;
 width:100%;
 margin-bottom:0;
 padding:8px 8px 8px 65px;
 -webkit-transition:all .2s ease;
 transition:all .2s ease;
 border:none;
 border-radius:3px;
 outline:0;
 background:rgba(255,255,255,.3);
 -webkit-appearance:textfield;
 -moz-appearance:textfield;
 appearance:textfield
}
.navbar input.header-search-input:hover {
 background:rgba(255,255,255,.5)
}
.navbar input.header-search-input:active,
.navbar input.header-search-input:focus {
 color:#333!important;
 border-bottom:none!important;
 background:#fff!important;
 box-shadow:none!important
}
.navbar .header-search-wrapper-focus i {
 color:#444!important
}
.navbar .header-search-input:focus::-webkit-input-placeholder {
 font-size:16px;
 font-weight:400;
 color:#333
}
.navbar .header-search-input:focus::-moz-placeholder {
 font-size:16px;
 font-weight:400;
 color:#333
}
.navbar .header-search-input:focus::-ms-input-placeholder {
 font-size:16px;
 font-weight:400;
 color:#333
}
.navbar .header-search-input:focus::placeholder {
 font-size:16px;
 font-weight:400;
 color:#333
}
.navbar .header-search-input:focus:-ms-input-placeholder {
 font-size:16px;
 font-weight:400;
 color:#333
}
.navbar .header-search-input::-webkit-input-placeholder {
 font-size:16px;
 font-weight:400;
 color:#fff
}
.navbar .header-search-input::-moz-placeholder {
 font-size:16px;
 font-weight:400;
 color:#fff
}
.navbar .header-search-input:-ms-input-placeholder {
 font-size:16px;
 font-weight:400;
 color:#fff
}
.navbar .header-search-input::-ms-input-placeholder {
 font-size:16px;
 font-weight:400;
 color:#fff
}
.navbar .header-search-input::placeholder {
 font-size:16px;
 font-weight:400;
 color:#fff
}

.gradient{
	background: linear-gradient(45deg,#63A2A6,#80C2B8) !important;
}

.sidenav .logo-container {
    padding: 0 16px;
	height: 64px;
	line-height: 64px;
	font-size: 24px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	box-sizing: content-box;
}
.sidenav .logo-container i.material-icons {
    line-height: inherit;
}

.sidenav .collapsible .collapsible-header {
	text-transform: uppercase;
	height: 64px;
	line-height: 64px;
}

.sidenav .collapsible > li {
    border-bottom: 1px solid  rgba(0,0,0,0.2);
    transition: background-color .2s;
}

.sidenav .collapsible > li.waves-effect {
	display:block;
}

.sidenav li>a{
	color: rgba(0,0,0,0.87);
	display: block;
	font-size: 14px;
	font-weight: 500;
}

.sidenav .collapsible > .active .collapsible-header {
	background: #D5F2EE;
}
.sidenav .collapsible > .active .collapsible-header .chevron{
	transform: rotate(-90deg);
	
}

.sidenav .collapsible .collapsible-header .chevron{
	float: right;
	height: 24px;
	width: 24px;
	line-height: 24px;
	margin: 20px 0 0 0;
	transition: transform .2s;
}

.material-icons img{
	width:35px;
}

.page-footer {
    background-color: #123456;
	border-top: 1px solid #e0e0e0;
	color:  #444;
    padding: 40px 0;
    margin: 0;
}

.avatar-status {
    line-height: 50px;
    position: relative;
    display: inline-block;
    width: 32px;
    vertical-align: bottom;
    border-radius: 50px;
}

.avatar-status img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0;
    border-radius: 1000px;
    background:  #e6e6e6;
}

.avatar-status i {
    position: absolute;
    right: -2px;
    bottom: 18px;
    width: 9px !important;
    height: 9px !important;
    border: 1px solid #fff;
    border-radius: 100%;
}

.avatar-online i {
    background-color:  #00e676;
}

#dropdownAvatar{
	top:-64px;
}

